.tools {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
}

.divisor {
  width: 100%;
  border: none;
  height: 1px;
  background: var(--text-primary-transparent-2);
  margin-block: 20px;
}

.tools ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-block: 15px 0;
}

.tools ul:has(.small) {
  gap: 10px;
}

.tools ul > div {
  border-radius: 15px;
}

.toolItem {
  position: relative;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  background: var(--color-primary-light);
  border-radius: 15px;
  transition: var(--dynamic-fast-transition);
}

.toolItem.small {
  width: 45px;
  height: 45px;
  border-radius: 12px;
}

.toolTitle {
  font-size: 16px;
  font-weight: var(--title-weight);
  width: 100%;
}

.toolCaption {
  font-size: 10px;
  text-align: start;
  color: var(--text-secondary);
}

.toolInfo {
  position: absolute;
  bottom: -58px;
  left: 45px;
  transform: translateX(-50%) translateY(-30px);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  background: var(--hover-primary-light);
  border-radius: 8px;
  padding: 2px 10px;
  width: 180px;
  transition: opacity 0.1s ease, visibility 0.3s ease, transform 0.3s ease;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toolItem img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
  transition: var(--dynamic-fast-transition);
}

.toolItem.small svg {
  width: 24px;
  height: 24px;
}

.heightDivisor {
  width: 1px;
  height: 30px;
  border-radius: 5px;
  background: var(--color-primary-light);
}

.tools:has(.small) .heightDivisor {
  height: 24px;
}

@media (width > 768px) {
  .toolItem::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 20px;
    background: var(--hover-primary-light);
    transition: bottom var(--dynamic-fast-transition);
    z-index: -1;
    pointer-events: none;
  }

  .toolItem.small::before {
    bottom: 10px;
  }

  .toolItem:hover {
    background: var(--hover-primary-light);
    border-radius: 15px 15px 0 0;
  }

  .toolItem:hover::before {
    bottom: -20px;
  }

  .toolItem:hover img {
    transform: translateY(8px);
  }
}

@media (width <= 768px) {

  .tools ul {
    gap: 10px;
    
  }

  .container:hover {
    scale: 1.1;
    transition: scale var(--dynamic-fast-transition);
  }

  .container:hover .toolItem {
    background-color: var(--hover-primary-light);
  }

  .toolItem {
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

  .toolItem img {
    width: 26px;
    height: 26px;
  }
}