.link {
  width: 60px;
  height: 40px;
  display: grid;
  place-items: center;
  gap: 10px;
  font-weight: 700;
  color: var(--color-primary);
  background: transparent;
  border-radius: 500px;
  border: none !important;
  transition: var(--dynamic-fast-transition);
}

.link:active {
  transform: scale(0.9);
}

.link svg {
  width: 24px;
  transition: var(--dynamic-fast-transition);
}

.link:hover svg {
  scale: 1.09;
}

.link svg path {
  fill: var(--color-primary);
}

.link.secondary {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link.secondary svg {
  width: 26px;
  height: 26px;
}

.link.secondary path {
  fill: var(--text-muted);
  transition: var(--dynamic-fast-transition);
}

.link.secondary:hover {
  background: var(--color-primary-light);
}

.link.secondary:hover path {
  fill: var(--color-primary);
}

.button.link path {
  fill: none !important;
}

.button.link path {
  stroke: var(--text-muted);
}

.button.link circle {
  stroke: var(--text-muted);
}

.button.link:hover path,
.button.link:hover circle {
  stroke: var(--color-primary);
}
