.tag {
  list-style: none;
  height: 30px;
  margin: 0 4px 0 0;
  width: max-content;
  display: grid;
  place-items: center;
  padding: 0 15px;
  border-radius: 500px;
  border: solid 2px var(--color-primary-light);
  color: var(--color-primary);
  backdrop-filter: blur(10px);
  font-weight: 900;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.main {
  color: #fbff004f;
  border: solid 2px #fbff004f;
  animation: glow 3s ease-in-out infinite;
  transition: all 0.1s ease;
}

@media (width <=768px) {
  .tag {
    font-size: 12px;
    padding: 0 12px;
    height: 24px;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0px #fbff00, 0 0 2px #fbff00;
  }
  50% {
    text-shadow: 0 0 2px #fbff00, 0 0 3px #fbff00;
  }
  100% {
    text-shadow: 0 0 0px #fbff00, 0 0 2px #fbff00;
  }
}
