a {
  width: 100%;
  height: 100%;
}

.cardProject {
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  z-index: 1;
  cursor: pointer;
  transition: background var(--dynamic-fast-transition);
  border: 2px solid var(--color-primary-light);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 20px;
  z-index: 10;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.title {
  color: var(--text-primary);
  font-size: 30px;
  font-weight: var(--title-weight);
}

/* Estilos para la imagen duplicada con blur */
.blurOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: blur(30px);
  transition: 0.3s ease;
  z-index: -1;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  20% {
    opacity: 0.5;
    transform: scale(1.15);
  }

  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}

.blurImage {
  width: 100%;
  height: 100%;
}

.cardProject:hover .blurOverlay {
  animation: 1s ease-out scaleIn forwards;
  box-shadow: none;
}

.category {
  position: absolute;
  display: flex;
  left: 0;
  top: -15px;
  pointer-events: none;
  border: 8px solid var(--color-neutral);
  background: var(--color-primary);
  border-left: 0;
  border-top: 0;
  z-index: 2;
  border-radius: 20px 50px 50px 4px;
}

.cardProject.minimal .category {
  display: none;
}

.category span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 30px;
  padding: 0 20px;
  border-radius: 0 50px 50px 0;
  gap: 5px;
  font-size: 14px;
  font-weight: var(--active-label-weight);
  text-transform: uppercase;
  color: var(--text-alternative);
}

.category span svg {
  width: 16px;
  height: 16px;
}

.category span path {
  stroke: var(--text-alternative);
  stroke-width: 2.25;
}

.category span:nth-child(2) {
  position: relative;
}

.category span:nth-child(2):before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 18px;
  background: var(--text-alternative);
  border-radius: 5px;
  opacity: 0.2;
}

.cardProject:hover img {
  transform: scale(1.06);
}

.cardFooter {
  background: var(--surface-primary-transparent-2);
  backdrop-filter: blur(10px);
  display: flex;
  width: 100%;
  height: 130px;
  align-items: center;
  padding: 10px 20px;
  gap: 30px;
  border-radius: 0 0 30px 30px;
}

.cardFooter > span {
  display: flex;
  width: 100%;
  gap: 7px;
  flex-direction: column;
}

.cardFooter > span > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.cardFooter h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardFooter p {
  height: 50px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.cardFooter ul {
  display: flex;
  gap: 0;
}

.cardImage img {
  object-fit: cover;
  border-radius: 20px 20px 20px 5px;
}

/* MEDIA QUERIES */

@media (width <=1274px) {
  .cardFooter > span > span {
    flex-wrap: wrap;
  }
  .cardFooter {
    height: 160px;
  }
}

@media (width <=1024px) {
  .cardFooter p {
    font-size: 14px;
    height: 40px;
  }
  .cardFooter {
    height: 130px;
  }
}

@media (width <=900px) and (width >=650px) {
  .cardProject:not(.minimal) .content {
    flex-direction: row;
  }

  .cardProject:not(.minimal) .cardFooter {
    width: 70%;
    max-width: 250px;
    height: 100%;
    align-items: start;
    padding-top: 30px;
    justify-content: start;
  }

  .cardFooter {
    border-radius: 0 30px 30px 0px;
  }

  .cardProject:not(.minimal) .cardFooter > span > span {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .cardProject:not(.minimal) .cardFooter p {
    height: max-content;
    display: block;
    overflow: visible;
  }
}

@media (width <=768px) {
  .cardProject.minimal .cardImage {
    height: 170px;
  }

  .cardFooter > span > span {
    padding-top: 0px;
  }
  .cardFooter {
    height: 130px;
  }
}

@media (width <=500px) {
  .cardProject {
    border-radius: 30px 30px 20px 20px;
  }

  .cardProject:active {
    background: var(--color-neutral);
  }

  .cardProject:hover img {
    transform: scale(1);
  }

  .blurOverlay {
    display: none;
  }

  .category {
    border-color: var(--surface-primary);
  }

  .cardFooter {
    height: max-content;
    border-radius: 0 0 20px 20px;
    background: none;
  }

  .cardFooter > span {
    gap: 5px;
  }
}
