.contactContainer {
  width: 100%;
  padding: 50px 0;
  margin-top: 30px;
}

.contact {
  display: flex;
  gap: 10px;
  padding-top: 40px;
}

/* CONTACT SOCIAL */
.contactLeft {
  width: 40%;
  min-width: 380px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CONTACT FORM */
.contactRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  padding-left: 40px;
  border-left: 1px solid var(--color-primary-light);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form > span {
  display: flex;
  gap: 20px;
}

.subtitle {
  font-size: 28px;
  font-weight: 700;
}

.btnContainer {
  width: fit-content;
  margin: 0 auto;
}

/* MEDIA QUERIES */
@media (width <= 1024px) {
  .contact {
    flex-direction: column;
  }

  .contactLeft {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .contactLeft > span {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .linkButton {
    max-width: 400px;
    flex-grow: 1;
  }

  .contactRight {
    padding: 50px 0 0 0;
    border-top: 1px solid var(--color-primary-light);
    border-left: 0;
  }
}

@media (width <= 500px) {
  .text {
    font-size: 16px;
  }
}
