/* === Estilos Generales para About === */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;
}

/* === Media Queries generales === */
@media (width <= 1124px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    height: fit-content;
    gap: 30px;
  }
}

@media (width <= 768px) {
  .container {
    gap: 40px;
  }

  .about {
    align-items: center;
  }
}
