/* ITEM RIGHT */
.container {
  width: 100%;
  max-width: 550px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.itemDetails {
  padding: 5px 10px 35px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid var(--color-primary-light);
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
}

.itemTitle {
  margin-bottom: 10px;
}

.buttonContainer {
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.button {
  height: 20px;
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
  padding: 2px 6px;
  letter-spacing: 2px;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
  border-radius: 4px;
  color: var(--color-primary);
  position: relative;
  cursor: pointer;
}

.button:hover {
  color: var(--text-secondary);
  border: 1px solid var(--text-secondary);
  background-color: var(--color-primary-light);
  transition: all ease-in-out 0.2s;
}

.icon {
  position: relative;
}

.boldText {
  display: flex;
}

.icon svg {
  position: absolute;
  top: 0;
  right: -27px;
  color: var(--text-secondary);
}

.responsabilities {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}

.responsabilities li {
  padding: 10px 20px 10px 35px;
  background: var(--transparent-primary-light);
  border-radius: 10px;
  font-size: 14px;
  line-height: 140%;
  position: relative;
}

.responsabilities li:last-of-type {
  border-radius: 10px 10px 25px 25px;
}

.subtitle {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 800;
  position: absolute;
  top: -34px;
  left: 10px;
  text-transform: uppercase;
}

.containerSkills {
  position: relative;
}

.responsabilities li::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 16px;
  width: 9px;
  height: 3px;
  border-radius: 10px;
  background: var(--text-secondary);
  opacity: 0.3;
}

/* MEDIA QUERIES */

@media (width <=1264px) {
  .container {
    max-width: 700px;
  }
}

@media (width <= 768px) {
  .container {
    max-width: 600px;
  }
  .subtitle {
    font-size: 10px;
  }
  .itemDetails p {
    font-size: 14px;
  }
}
