.guestbook {
  width: 100%;
  height: fit-content;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-right: 8px;
  gap: 10px;
  overflow-y: scroll;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  font-size: 28px;
  font-weight: 700;
}
