.container {
  width: 100%;
  height: 400px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider::before {
  background: linear-gradient(
    to right,
    var(--surface-primary) 40%,
    rgba(0, 0, 0, 0.02) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 140px;
  z-index: 2;
  left: 0;
  top: 0;
}

.slider::after {
  background: linear-gradient(
    to left,
    var(--surface-primary) 30%,
    rgba(0, 0, 0, 0.02) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 150px;
  z-index: 2;
  right: 0;
  top: 0;
}

.slideTrack {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}

.slideTrack:hover {
  animation-play-state: paused;
}

.slideTrack1 {
  display: flex;
  width: calc(250px * 18);
  animation: scrollReverse 40s linear infinite;
}

.slideTrack1:hover {
  animation-play-state: paused;
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.image {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  transition: transform 0.1s;
  cursor: pointer;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.image:hover {
  transform: translateZ(10px);
  border: 2px solid var(--color-primary-light);
  box-shadow: -4px 5px 3px var(--color-primary-light);
  border: 1px solid var(--text-primary);
  transition: var(--dynamic-fast-transition);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

@keyframes scrollReverse {
  0% {
    transform: translateX(calc(-250px * 9));
  }
  100% {
    transform: translateX(0);
  }
}

@media (width <= 768px) {
  .container {
    margin: 20px 0;
  }
  .slide {
    padding: 10px;
  }
  .slider::after,
  .slider::before {
    width: 50px;
  }
}
