.containerField {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  position: relative;
  height: 60px;
  display: flex;
  flex-grow: 1;
}

.field:has(input) {
  max-height: 60px;
}

.field input,
.field textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 16px;
  line-height: 1.4;
  border: 1px solid var(--color-primary-light);
  outline: 2px solid transparent;
  border-radius: 20px;
  color: var(--text-primary);
  transition: var(--dynamic-fast-transition);
}

.field textarea {
  resize: none;
  padding: 20px;
  font-size: 16px;
}

.field:has(textarea) {
  height: 200px;
}

.field .placeholder {
  width: max-content;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 50px;
  height: 30px;
  padding-inline: 10px;
  background: transparent;
  display: flex;
  backdrop-filter: blur(20px);
  gap: 5px;
  align-items: center;
  pointer-events: none;
  transition: var(--dynamic-fast-transition);
}

.field input:focus,
.field input:not(:placeholder-shown),
.field textarea:focus,
.field textarea:not(:placeholder-shown) {
  border-color: transparent;
  outline-color: var(--color-primary);
}

.field input:focus + .placeholder,
.field input:not(:placeholder-shown) + .placeholder,
.field textarea:focus + .placeholder,
.field textarea:not(:placeholder-shown) + .placeholder {
  top: -15px;
  left: 20px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary);
}

.field input::placeholder,
.field textarea::placeholder {
  opacity: 0;
}

.field .required {
  position: absolute;
  color: var(--error);
  right: 20px;
  top: -15px;
  padding: 5px 5px;
  height: 20px;
  font-weight: 400;
  font-size: 24px;
  background: transparent;
  backdrop-filter: blur(2px);
  pointer-events: none;
}

/* ERROR STATE */
.error {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 10px;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--error);
  pointer-events: none;
  height: 0;
  opacity: 0;
  transform: translateY(-10px);
}

.iconError {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  background: var(--error);
  border-radius: 50%;
}

.iconError path {
  stroke: var(--surface-primary);
}

.firstError {
  margin-top: -20px;
}

.error.show {
  opacity: 1;
  transform: translateY(0);
  height: max-content;
  transition: var(--dynamic-fast-transition);
}
