/* === Contenedor Principal === */
.containerTools {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

/* === Sección de Herramientas === */
.tools {
  position: relative;
  margin-top: 20px;
  border: 1px solid var(--color-primary-light);
  padding: 30px;
  border-radius: 30px;
}

/* === Contenedor de items === */
.box {
  display: flex;
  flex-direction: column;
}

.box ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

/* === Títulos === */
.workTag1,
.workTag2 {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.workTag1 {
  padding-bottom: 10px;
}

.workTag2 {
  margin: 40px 0 10px 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* === Indicador de aprendizaje === */
.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 2px;
  background: var(--color-success);
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: var(--color-success);
  opacity: 0.8;
  animation: 1s ease zoom-in infinite;
}

@keyframes zoom-in {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

/* === Media Queries === */

@media (width <= 1124px) {
  .containerTools {
    justify-content: center;
    margin-right: 0px;
  }

  .tools .img {
    top: -80px;
    right: -160px;
    width: 320px;
    height: 500px;
  }
}

@media (width <= 500px) {
  .containerTools {
    justify-content: center;
  }

  .tools {
    padding: 15px;
    margin: 20px;
  }
}
