.containerLoader {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 70px;
  height: 70px;
}

.loader::before,
.loader::after {
  animation: loader 1.5s linear infinite;
  content: "";
  border: 2px solid #fff;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.loader::after {
  opacity: 0;
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
